*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
}
.left{
    
    height: 100%;
     width: 50%;
    background-color:#E3E7F0;
}
.First{
    position: absolute;
    top: 5%;
    left: 7%;
    font-size: 300%;
}
.Second{
    position: absolute;
    top: 30%;
    left: 10%;
    color: rgb(74, 74, 215);
}
.left>h1{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 60px;
    font-weight: 200;
}
.left .mail{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 20%;
    height: 7%;
    
}
.left>button{
    background-color: black;
    color: white;
    position: absolute;
    top: 70%;
    left: 25%;
    width: 7%;
    height: 7%;
}

.left .last{
    position: absolute;
    left: 2%;
    top: 90%;
}
.right{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1589758438368-0ad531db3366?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y3JlZGl0JTIwY2FyZHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;background-repeat: no-repeat;
    position: absolute;
    top: 0%;
    left: 50%;
}
.right>pre{
    position: absolute;
   top: 7%;
   left: 25%;
   font-size: 20px;
   z-index: 100;
}
.right>button{
    position: absolute;
    top: 6%;
    left: 84%;
    width: 12%;
    height: 5%;
    color: wheat;
    background-color:black;
}
